// Responsiveness

// default
.grid-container {
	// padding: 0 var(--container-padding);
	// margin: 6.4rem auto;

	// max-width: 84vw;
	max-width: 88vw;
	// margin: 16vw auto;
	// margin: 12vw auto;
	// margin: 8rem auto;
	margin: 4.8rem auto;

	&:not(:first-child) {
		margin: 10.4rem auto;
		margin: 8.8rem auto;
	}
}


// media queries

@media (min-width: 480px) {
	// 480px / 30rem
	// ...
}

@media (min-width: 620px) {
	// 640px / 40rem

	:root {
		--container-padding: 4.8rem;
	}

	.grid-container {
		// max-width: 72vw;
		// max-width: 60rem;
	}


	h2 {
		// font-size: 5vw;
	}

	// project styles
	// ...

}


@media (min-width: 820px) {
	// 800px / 50rem

	// .logo-img {
	// 	max-height: unset;
	// }

	.headline {
		line-height: unset;
		margin: 10vh 0;
	}

	h2 {
		// font-size: 3.2vw;
	}

	// .media-title {
	// 	padding: 4rem;
	// }

	.media-heading {
		font-size: 2.4rem;
	}


	// project styles
	// ...

	.grid-container {
		// max-width: 84vw;
		// margin: 16vw auto;
	}

	.grid-masonry {
		grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
	}

	.grid-masonry .masonry-block {
		height: 42rem;
	}

	.grid-masonry .masonry-block--sub {
		grid-gap: 3.2rem;
	    display: flex;
	    flex-flow: column;
	    grid-template-columns: 1fr 1fr;
	}

	.span-7 {
		grid-column-start: span 7;
	}

	.span-5 {
		grid-column-start: span 5;
	}

	.span-6 {
		grid-column-start: span 6;
	}

	.span-12 {
		grid-column-start: span 12;
	}


	.project-details .project-description {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.social {
		flex-direction: row;

		li ~ li {
			margin: 0 0 0 2.4rem;
		}
	}

}

@media (min-width: 1080px) {
	// 1024px / 64rem




}

@media (min-width: 1200px) {
	// 1200px / 75rem

	.logo {
		font-size: 2.2rem;
	}

	.logo-img {
		// max-height: unset;
		max-height: 7.2rem;
	}

	.headline {
		font-size: 6.4vw;
		margin: 12vh 0;
	}

	// .logo-img {
	// 	max-height: unset;
	// }


	.media-title {
		padding: 4.4rem;
	}

	.media-heading {
		font-size: 3.2rem;
	}

	.grid-padded {
		padding: 0 4rem;
	}

	.grid-container {
		max-width: 84vw;
		margin: 8vw auto;
		margin: 6.8vw auto;
	}



	.grid-masonry .masonry-block {
		height: 64rem;
	}

	.heading-three {
		margin-bottom: 7.2rem;
	}

	h2 {
		// font-size: 3vw;
		// font-size: 2.5vw;
	}

	.description {
		width: 66%;
	}

}

@media (min-width: 1440px) and (orientation: landscape) {
	// 1440px / 90rem

}

@media (min-width: 1600px) and (orientation: landscape) {
	// 1600px / 100rem

	.grid-container {
		max-width: 140rem;
		max-width: 136rem;
		// margin: 6.4rem auto;
	}
}

@media (min-width: 1920px) {
	// 1920px / 120rem

	// .grid-container {
	// 	max-width: 140rem;
	// 	margin: 6.4rem auto;
	// }

}