
2020/.DS_Store
2020/assets/.DS_Store
2020/assets/projects/.DS_Store
2020/assets/social/.DS_Store
projects/tecnico-mobile/.DS_Store
projects/connect/.DS_Store
projects/siga-system/.DS_Store
projects/university-website/.DS_Store
assets/.DS_Store
.DS_Store
2021/.DS_Store
2021/assets/.DS_Store
2021/assets/projects/.DS_Store
2021/assets/projects/connect/.DS_Store
2021/assets/projects/siga-system/.DS_Store
2021/assets/projects/tecnico-mobile/.DS_Store
2021/assets/projects/university-website/.DS_Store
2021/assets/social/.DS_Store
2021/docs/.DS_Store
2021/js/.DS_Store
2021/pages/.DS_Store
2021/projects/.DS_Store
assets/.DS_Store
assets/projects/.DS_Store
pages/.DS_Store
projects/.DS_Store
assets/.DS_Store
assets/projects/.DS_Store
projects/.DS_Store
.DS_Store
assets/.DS_Store
assets/projects/.DS_Store
projects/.DS_Store
.DS_Store
.DS_Store
