
2020/.DS_Store
2020/assets/.DS_Store
2020/assets/projects/.DS_Store
2020/assets/social/.DS_Store
projects/tecnico-mobile/.DS_Store
projects/connect/.DS_Store
projects/siga-system/.DS_Store
projects/university-website/.DS_Store
assets/.DS_Store
